version: "3.9"

services:
  db:
    image: postgres:15
    container_name: expense-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: expense_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    image: expense-service
    container_name: expense-api
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/expense_db
    depends_on:
      - db

volumes:
  postgres_data: